
.review__list  {
  margin-top: 10px;
  margin-bottom: 20px;
  li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    :last-child {
      border-bottom: 0;
    }
  }
  .user-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .comment{
    font-style: italic;
  }
}

.rating__stars {
  display: flex;
  justify-self: start;
}

.rating-container {
  display: flex;
  align-items: center;
}

.rating-text {
  margin-left: 8px; /* Adjust margin as needed */
}

.rating {
  display: flex;
  justify-self: start;
}

.customer-name {
  font-weight: bold;
}

/* Optional: add margin between name and stars */
.rating-stars {
  margin-left: 8px; /* Adjust margin as needed */
}

.product__reviews {
  margin-top: 30px;
  margin-bottom: 30px;
}

.styled-button {
  color: var(--primary);
}
