.categories-list {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
  padding-top: 10px;
}

.scrollable-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  /* For mobile devices */
  .scrollable-list {
    justify-content: flex-start; /* Align content to the left */
  }
}
  


.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px; /* Adjust the spacing between categories */
  margin-left: 15px;
}

.category-image {
  width: 40px; /* Adjust the size of the circular image */
  height: 40px; /* Adjust the size of the circular image */
  border-radius: 5%;
  margin-bottom: 8px; /* Adjust the spacing between the image and text */
}

.category-name {
  color: black;
  font-size: 11px; /* Adjust the font size of the category name */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
